<article class="say-card">
  <header class="say-card__header">
    <h2 class="say-card__title">Beheer citaat:</h2>
  </header>
  <div class="say-card__content">
    <p>
      Link: <a href={{besluit.uri}}>{{besluit.title}}</a>
    </p>
    <p>
      <label for="cite">
        Citeeropschrift:
      </label>
      <input id="cite">
    </p>
  </div>
  <div class="say-card__footer">
    <p>
      <button {{action "insert"}} class="say-button">
        Voeg to
      </button>
      <button {{action "cancel"}} class="say-button say-button--secondary">
        Annuleer
      </button>
    </p>
  </div>
</article>