<AuAlert
  @alertTitle="Probleem bij het laden"
  @alertSkin="error"
  @alertIcon="alert-triangle"
  @alertSize="{{if @fullSize "default" "small"}}"
  @closable={{false}}
  ...attributes>
  <p>Er heeft zich een fout voorgedaan bij het zoeken in de Vlaamse Codex.</p>
  <code>{{@error}}</code>
  <p>Moest dit probleem aanhouden, neem contact op met <AuLinkExternal href="mailto:Gelinkt-Notuleren@vlaanderen.be" @icon="mail" @iconAlignment="left">Gelinkt-Notuleren@vlaanderen.be</AuLinkExternal>.</p>
</AuAlert>

