.citaten--decision-list {
  max-height: 35vh;
  overflow: auto;
}

.citaten--decision-title {
  /*Still with vendor prefixes for now */
  /*Have the title only a couple of lines long at the most*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.citaten--decision-list-item button {
  text-align: left;
}
